
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pas1" text="Regresar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="2.5">
        <ion-button (click)="prevPaso()" fill="outline" shape="round" color="dark">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="7">
        <h3 style="text-align: center;">Paso {{paso.numPaso}} de {{numPasos}}</h3>
      </ion-col>
      <ion-col size="2.5">
        <ion-button style="float: right;" (click)="nextPaso()" fill="outline" shape="round" color="dark">
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <img src= "http://enrique-moran-7e3.alwaysdata.net/api/{{paso.foto}}">
    <br><br>
    <div *ngFor="let descripcion of paso.descripcion[0]">
      <p>{{descripcion}}</p>
    </div>
    

  </ion-card>

  <br><br><br><br>
  <div class="fixedBottom">Las imágenes son sólo orientativas y no representan el producto final</div>
</ion-content>
