ion-content {
    background-color: rgb(250, 250, 250);
}

ion-card-title {
    font-family: 'Lobster', cursive;
    padding: 5px 0px 5px 5px;
}
img {
    width: 100%;
}

h1 {
    text-align: center;
}

h1,h2 {
    font-family: 'Lobster', cursive;
    color: black;
}

h3,h4,p, ion-back-button {
    font-family: 'Montserrat';
    color: black;
}

p {
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}
ion-card{
    margin: 10px 5px 15px 5px;
    padding-bottom: 50px;
}

.fixedBottom {
    text-align: end;
    font-style: italic;
    font-size: 0.9em;

    padding: 7px;
}