ion-content {
    background-color: rgb(250, 250, 250);
    //background-image: url("/assets/letras.jpeg");
}
ion-icon {
    font-size: 30px;
    color: black;
}

h1,h2 {
    font-family: 'Lobster', cursive;
    color: black;
}

h3,h4,p,input, ion-back-button {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

input {
    height: 35px;
    width: 60%;
}

.center {
    text-align: center;
}

.boton {
    background-color: aquamarine;
    color: black;
}

input:focus {
    outline: none !important;
    border:1px solid aquamarine;
    box-shadow: 0 0 10px aquamarine;
}