<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio" text="Registro"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h2>Crea tu cuenta</h2>
    <br>
    <h4>Tu nombre</h4>
    <input [(ngModel)]="nombre" type="text">
    <h4>Nombre de usuario</h4>
    <input [(ngModel)]="user_name" type="text">
    <h4>Contraseña</h4>
    <input [(ngModel)]="user_password" type="password">
    <br><br>
    <ion-button class="boton" [color]="buttonColor" (click)="validate()">
      REGÍSTRATE
    </ion-button>
  </div>
  
</ion-content>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
</style>
