ion-icon {
    font-size: 30px;
    color: black;
}
.rojo {
    color: red;
}
.medio {
    margin-left:auto;
    margin-right:auto;
    display: block;
}

img {
    width: 100%;
}


h1 {
    margin-left: 10px;
    font-size: 1.85em;
    margin-top: 10px;
    margin-bottom: 15px;
}

h1,h2 {
    font-family: 'Lobster', cursive;
    color: black;
}

h3,h4,p, ion-back-button {   
    font-family: 'Montserrat', sans-serif;
}
h3, h4 {
    color: black;
}
.detalles h4 {
    display: inline;
}
.ingredientes h3 {
    display: inline;
}

p {
    display: inline;
    margin-left: 7px;
    margin-right: 7px;
    text-align: justify;
    font-size: 115%;
}
ion-card{
    display: flex;
    flex-direction: column;
    margin: 10px 5px 15px 5px;
    background-color: rgb(250, 250, 250);
}
.botonPasos {
    background-color: aquamarine;
    color: black;
}