<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pas1" text="{{receta.titulo}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>



    <!-- FOTO -->
    <ion-row>
      <img src= "http://enrique-moran-7e3.alwaysdata.net/api/{{receta.url_foto}}">
    </ion-row>

    <ion-row style="background-color: aquamarine;">
      <ion-col size="12">
        <h1>{{receta.titulo}}</h1>
      </ion-col>
    </ion-row>

    <!-- BOTONES LIKE / PLAN / FAVORITOS -->
    <ion-row>
      <ion-col size="2" *ngIf="isLiked(receta.id_receta)">
        <ion-button (click)="unlike(receta)" fill="clear">
          <ion-icon class="rojo" name="heart"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2" *ngIf="!isLiked(receta.id_receta)">
        <ion-button (click)="like(receta)" fill="clear">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2.5">
        <h4 style="text-align: start;">{{receta.likes}}</h4>
      </ion-col>

      <ion-col size="3" *ngIf="dataLocalService.isOnPlan(receta.titulo)">
        <ion-button class="medio" (click)="dataLocalService.unplanReceta(receta)" fill="clear">
          <ion-icon name="calendar-number-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" *ngIf="!dataLocalService.isOnPlan(receta.titulo)">
        <ion-button class="medio" (click)="dataLocalService.planReceta(receta)" fill="clear">
          <ion-icon name="calendar-clear-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4.5" *ngIf="dataLocalService.isFavorito(receta.titulo)">
        <ion-button style="float: right;" (click)="dataLocalService.unfavReceta(receta)" fill="clear">
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4.5" *ngIf="!dataLocalService.isFavorito(receta.titulo)">
        <ion-button style="float: right;" (click)="dataLocalService.favReceta(receta)" fill="clear">
          <ion-icon name="star-outline"></ion-icon>
        </ion-button>
      </ion-col>

    
    </ion-row>

    <p>{{receta.descripcion}}</p>  

    <!-- DETALLES -->
    <ion-row class="detalles">
      <ion-col size="1"><ion-icon name="flash-outline"></ion-icon></ion-col>
      <ion-col size="11"><h4>{{receta.kcal}}</h4></ion-col>
      <ion-col size="1"><ion-icon name="sparkles-outline"></ion-icon></ion-col>
      <ion-col size="11"><h4>{{receta.dificultat}}</h4></ion-col>
      <ion-col size="1"><ion-icon name="time-outline"></ion-icon></ion-col>
      <ion-col size="11"><h4>{{receta.tiempo}}</h4></ion-col>
    </ion-row>
    <br>

    <!-- INGREDIENTES -->
    <ion-row class="ingredientes">
      <ion-col size="1">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <h3>Ingredientes</h3>
      </ion-col>
    </ion-row>
    
    <ion-row *ngFor="let ing of ingredientes">
      <ion-col size="12"><p>· {{ing.nombre}}</p></ion-col>
    </ion-row>
    <br><br>

    
    <ion-button class="botonPasos" (click)="pasos()" expand="full" [color]="buttonColor">
      SIGUE LA RECETA PASO A PASO
    </ion-button>
  </ion-card>
</ion-content>
