ion-content {
    background-color: rgb(250, 250, 250);
    //background-image: url("/assets/letras.jpeg");
}
ion-icon {
    font-size: 30px;
    color: black;
}
.rojo {
    color: red;
}
h1,h2 {
    font-family: 'Lobster', cursive;
    color: black;
}

h3,h4,p,input {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

input {
    height: 35px;
    width: 60%;
}
input:focus {
    outline: none !important;
    border:1px solid aquamarine;
    box-shadow: 0 0 10px aquamarine;
}

.center {
    text-align: center;
}
.bienvenida {
    margin-top: 25px;
    margin-left: 15px;
}
.cerrarSesion {
    position: fixed;
    bottom: 15px;
    left: 15px;
}
.boton {
    background-color: aquamarine;
    color: black;
}