<ion-header>
  <ion-toolbar>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="person-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h1>TU PERFIL</h1>
      </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataLocalService.loggedIn == false">
    <br>
    <p style="font-style: italic; text-align: center">Todavía no has iniciado sesión</p>
    <br>
    <div class="center">
      <h2>Iniciar sesión</h2>
    
      <h4>Nombre de usuario</h4>
      <input  [(ngModel)]="user_name" type="text">
      <h4>Contraseña</h4>
      <input  [(ngModel)]="user_password" type="password">
      <br><br>
      <ion-button class="boton" [color]="buttonColor" (click)="validate()">
        LOG IN
      </ion-button>
    </div>
    
    <div class="center">
      <br><br><br>
      <h2>¿No tienes una cuenta?</h2>
      <br>
      <ion-button class="boton" [color]="buttonColor" (click)="navigate()">
        REGÍSTRATE
      </ion-button>
    </div>
    
  </div>

  <div *ngIf="dataLocalService.loggedIn == true">
    <div class="bienvenida">
      <h4>
        Te damos la bienvenida,<br>
        <b><i>{{dataLocalService.usuario.nombre}}</i></b>
      </h4>
    </div>
    <br>
    <p class="center">Ya puedes indicar si te ha gustado una receta</p>
    <div class="center">
      <ion-icon class="rojo" name="heart"></ion-icon>
    </div>
    <ion-tab-button tab="tab1">
      <h4>¡Vamos a buscar algunas!</h4>
    </ion-tab-button>
    
    <div class="cerrarSesion">
      <h2>¿Quieres cerrar sesión?</h2>
      <ion-button class="boton" [color]="buttonColor" (click)="cerrarSesion()">Cerrar sesión</ion-button>
    </div>
  </div>
  
</ion-content>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
</style>
