<ion-header>
  <ion-toolbar>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="star"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons (click)="borrarTodo()" slot="end">
          <ion-icon *ngIf="dataLocalService.favoritos != ''" class="borrar_icon" slot="icon-only" name="trash-outline" style="margin-right: 5px;"></ion-icon>
        </ion-buttons>
        <h1>TUS FAVORITOS</h1>
      </ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card *ngFor = "let receta of dataLocalService.favoritos">
    <ion-row>
      <!-- "{{receta.url_foto}}" -->
      <img (click)="detalle(receta.id_receta,receta._id)"
      src= "http://enrique-moran-7e3.alwaysdata.net/api/{{receta.url_foto}}">
    </ion-row>

    <ion-row class="titulo">
      <ion-col size="9">
        <h2>{{receta.titulo}}</h2>
      </ion-col>
    </ion-row>

    <!-- BOTONES LIKE / PLAN / FAVORITOS -->
    <ion-row class="botones">

      <ion-col size="2" *ngIf="isLiked(receta.id_receta)">
        <ion-button (click)="unlike(receta)" fill="clear">
          <ion-icon class="rojo" name="heart"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2" *ngIf="!isLiked(receta.id_receta)">
        <ion-button (click)="like(receta)" fill="clear">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2.5">
        <h4 style="text-align: start;">{{receta.likes}}</h4>
      </ion-col>

      <ion-col size="3" *ngIf="dataLocalService.isOnPlan(receta.titulo)">
        <ion-button class="medio" (click)="dataLocalService.unplanReceta(receta)" fill="clear">
          <ion-icon name="calendar-number-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" *ngIf="!dataLocalService.isOnPlan(receta.titulo)">
        <ion-button class="medio" (click)="dataLocalService.planReceta(receta)" fill="clear">
          <ion-icon name="calendar-clear-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4.5" *ngIf="dataLocalService.isFavorito(receta.titulo)">
        <ion-button style="float: right;" (click)="dataLocalService.unfavReceta(receta)" fill="clear">
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4.5" *ngIf="!dataLocalService.isFavorito(receta.titulo)">
        <ion-button style="float: right;" (click)="dataLocalService.favReceta(receta)" fill="clear">
          <ion-icon name="star-outline"></ion-icon>
        </ion-button>
      </ion-col>

    
    </ion-row>
    
  </ion-card>
  <div id="noFav" *ngIf = "dataLocalService.favoritos.length == 0">
    <p>Todavía no tienes favoritos</p>
  </div>
</ion-content>



<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
</style>
