ion-content {
    background-color: rgb(250, 250, 250);
}
ion-icon {
    font-size: 30px;
    color: black;
}
.rojo {
    color: red;
}
.medio {
    margin-left:auto;
    margin-right:auto;
    display: block;
}

img {
    width: 100%;
}

h1 {
    margin-left: 15px;
    margin-bottom: 17px;
}
h2 {
    margin-left: 5px;
    font-size: 1.85em;
    margin-top: 5px;
    margin-bottom: 3px;
}

h1,h2 {
    font-family: 'Lobster', cursive;
    color: black;
}

h3,h4,p {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

p {
    display: inline;
    margin-left: 7px;
    margin-right: 7px;
    text-align: justify;
    font-size: 115%;
    font-style: italic;
}

ion-card{
    display: flex;
    flex-direction: column;
    margin: 15px 5px 0px 5px;
}

#noFav {
    width: 100%;
    text-align: center;
    font-size: 115%;
    font-style: italic;
    margin-top: 35%;
}

.titulo {
    background-color: rgb(250, 250, 250);
}