ion-content {
  background-color: #fafafa;
}

ion-icon {
  font-size: 25px;
  color: black;
}

img {
  width: 100%;
}

.opciones {
  font-size: 25px !important;
  position: absolute;
  text-align: left;
  margin-left: -25px;
}

.opciones_icon {
  font-size: 40px;
}

h1 {
  text-align: center;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  color: black;
}

h3, h4, p {
  font-family: 'Montserrat', sans-serif;
}

h3, h4 {
  display: inline;
  color: black;
}

.ingredientes {
  margin-top: 10px;
}

p {
  display: inline;
  margin-left: 7px;
  margin-right: 7px;
  text-align: justify;
  font-size: 115%;
}

ion-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 5px 15px 5px;
  padding-bottom: 20px;
}
/*# sourceMappingURL=tab4.page.css.map */