ion-icon {
  font-size: 50px;
  color: black;
}

ion-back-button, section, input {
  font-family: 'Montserrat';
}

section, input {
  margin: 5px 15px 15px 15px;
  padding: 5px 5px 5px 30px;
}

input {
  border: none;
  border-bottom: 3px solid black;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
}

::-webkit-input-placeholder {
  font-size: 1.5em;
}

:-ms-input-placeholder {
  font-size: 1.5em;
}

::-ms-input-placeholder {
  font-size: 1.5em;
}

::placeholder {
  font-size: 1.5em;
}

section {
  border: solid 3px black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nombre, .carne, .pescado, .pasta, .vegetales {
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.arroz {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.nombre {
  background-image: url("/assets/letras.jpeg");
}

.carne {
  background-image: url("/assets/carne.jpg");
}

.pescado {
  background-image: url("/assets/pescado.jpeg");
}

.arroz {
  background-image: url("/assets/arroz.jpeg");
}

.pasta {
  background-image: url("/assets/pasta.jpeg");
}

.vegetales {
  background-image: url("/assets/vegetales.jpg");
}

h1 {
  font-family: 'Lobster';
  text-align: center;
}

h2 {
  font-weight: bolder;
}

.opciones ion-row {
  margin-left: -5px;
}

.opciones section {
  padding: 0 0 0 30px;
}

.opciones ion-icon {
  visibility: hidden;
}
/*# sourceMappingURL=filtro.page.css.map */