<ion-header>
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button>
                <ion-icon name="calendar"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons (click)="borrarTodo()" slot="end">
                <ion-icon *ngIf="dataLocalService.planSemanal != ''" slot="icon-only" name="trash-outline" style="margin-right: 5px;"></ion-icon>
            </ion-buttons>
            <h1>TU PLAN SEMANAL</h1>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content id="pagina">
    <div *ngIf="dataLocalService.planSemanal != ''">
        <ion-slides [options]="slideOptions">
            <ion-slide id="dia" *ngFor="let dia of dias; let i = index">
                <h1 style="font-size: 1.75em;">{{dia}}</h1>
                <p *ngIf="dataLocalService.recetasPorDias[i] == 0"><br>No tienes un plan para este día</p>
                <div style="margin-left: 5px;" *ngFor="let receta of dataLocalService.planSemanal; let i = index">
                    <ion-card *ngIf="receta.diaSemana == dia">
                        <ion-row>
                            <ion-col size="9.5">
                                <img (click)="detalle(receta.id_receta,receta._id)"
                                src= "http://enrique-moran-7e3.alwaysdata.net/api/{{receta.url_foto}}">
                            </ion-col>
                            <ion-col class="botones" size="2.5">
                                <ion-row>
                                    <ion-col size="12">
                                        <ion-button (click)="izq(receta, dia)" fill="clear">
                                            <ion-icon name="chevron-back-outline"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12">
                                        <ion-button (click)="confirmDelete(receta)" fill="clear">
                                            <ion-icon class="rojo" name="trash-outline"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12">
                                        <ion-button (click)="derecha(receta, dia)" fill="clear">
                                            <ion-icon name="chevron-forward-outline"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        <ion-row class="titulo">
                            <ion-col size="12">
                                <h2>{{receta.titulo}}</h2>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    
    <div id="noPlan" *ngIf="dataLocalService.planSemanal == ''">
        <p>Todavía no tienes un plan semanal</p>
    </div>
    
</ion-content>



<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
</style>
  
  