ion-icon {
    font-size: 30px;
    color: black;
}

.rojo {
    color: red;
}


img {
    width: 100%;
}

h1 {
    margin-left: 15px;
    margin-bottom: 17px;
}
h2 {
    text-align: start;
    margin-left: 5px;
    font-size: 1.85em;
    margin-top: 5px;
}
h1, h2 {
    font-family: 'Lobster';
    color: black;
}
#dia {
    margin-bottom: 50px;
}
h3,h4,p {   
    font-family: 'Montserrat', sans-serif;
}
h3, h4 {
    display: inline;
    color: black;
}

p {
    display: inline;
    margin-left: 7px;
    margin-right: 7px;
    text-align: justify;
    font-size: 115%;
    font-style: italic;
}
ion-card{
    display: flex;
    flex-direction: column;
    margin: 10px 5px 15px 0px;
}

.detalles {
    margin-top: auto;
    margin-bottom: auto;
}

.borrar {
    font-size: 25px !important;
    position: absolute;
    text-align: left;
    margin-left: -15px;
}
.borrar_icon {
    font-size: 30px;   
}
#noPlan {
    width: 100%;
    text-align: center;
    font-size: 115%;
    font-style: italic;
    margin-top: 35%;
}

.botones {
    margin-top: auto;
    margin-bottom: auto;
}

ion-slides {
    height: 100%;
  }

.swiper-slide {
display: block;
}

.titulo {
    background-color: aquamarine;
}