ion-content {
  background-color: #fafafa;
}

ion-icon {
  font-size: 25px;
  color: black;
}

img {
  width: 100%;
}

h1, h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: black;
}

h3, h4, p {
  font-family: 'Montserrat', sans-serif;
}

h3, h4 {
  display: inline;
  color: black;
}

p {
  display: inline;
  margin-left: 7px;
  margin-right: 7px;
  text-align: justify;
  font-size: 115%;
}

ion-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 5px 15px 5px;
}

.detalles {
  margin-top: auto;
  margin-bottom: auto;
}
/*# sourceMappingURL=tab3.page.css.map */