ion-content, input {
    background-color: rgb(250, 250, 250);
}
ion-icon {
    font-size: 25px;
    color: black;
}
section, input {
    margin: 5px 15px 15px 15px;
    padding: 5px 5px 5px 30px;
    font-family: 'Montserrat';
}

input {
    border: solid 3px black;
    height: 68px;
    width: 92%;
}
::placeholder {
    font-size: 1.5em;
    font-style: italic;
}
section {
    border: solid 3px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}


.nombre,
::placeholder,
.carne,
.pescado,
.pasta,
.vegetales,
.caldos,
.vegetarianas,
.veganas,
.celiacos {
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.arroz,
.sinLactosa {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}



.nombre {
    background-image: url("/assets/letras.jpeg");
}
.carne {
    background-image: url("/assets/carne.jpg");
}
.pescado {
    background-image: url("/assets/pescado.jpeg");
}
.arroz {
    background-image: url("/assets/arroz.jpeg");
}
.pasta {
    background-image: url("/assets/pasta.jpeg");
}
.vegetales {
    background-image: url("/assets/vegetales.jpg");
}
.caldos {
    background-image: url("/assets/caldos.jpg");
}

.vegetarianas {
    background-image: url("/assets/vegetariano.jpg");
}
.veganas {
    background-image: url("/assets/vegano.jpg");
}
.celiacos {
    background-image: url("/assets/celiaco.jpg");
}
.sinLactosa {
    background-image: url("/assets/sinlactosa.jpg");
}


h1 {
    font-family: 'Lobster';
    margin-left: 15px;
    margin-bottom: 17px;
}
h2 {
    font-weight: bolder;
    text-align: start;
}
h2,h3,h4 {
    font-family: 'Montserrat';
}
h3 {
    text-align: center;
    color: black;
    margin-bottom: 15px;
    font-style: italic;
}

.fixedBottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: end;
    font-style: italic;
    font-size: 0.9em;

    padding: 7px;
    background-color: aquamarine;
    border-radius: 20px;
}

ion-slides {
    height: auto;
  }

.swiper-slide {
display: block;
}
.boton {
    background-color: aquamarine;
    color: black;
}