<ion-header>
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button>
                <ion-icon name="options"></ion-icon>
                </ion-button>
            </ion-buttons>
            <h1>¿QUÉ QUIERES BUSCAR?</h1>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-slides>
        <ion-slide>
            <h3>Recetas que contienen...</h3>

            <section (click)="filtrar('Carne')" class="carne">
                <h2>CARNE</h2>
            </section>
        
            <section (click)="filtrar('Pescado')" class="pescado">
                <h2>PESCADO</h2>
            </section>
        
            <section (click)="filtrar('Arroz')" class="arroz">
                <h2>ARROZ</h2>
            </section>
        
            <section (click)="filtrar('Pasta')" class="pasta">
                <h2>PASTA</h2>
            </section>
        
            <section (click)="filtrar('Vegetales')" class="vegetales">
                <h2>VEGETALES</h2>
            </section>
        
            <section (click)="filtrar('Caldos')" class="caldos">
                <h2>CALDOS</h2>
            </section>
            
            <div class="fixedBottom">Desliza para otras opciones ></div>
        </ion-slide>


        <ion-slide>
            <h3>Recetas con el nombre...</h3>

            <input [(ngModel)]="titulo" class="nombre" type="text" placeholder="nombre...">
            <ion-button class="boton" (click)="buscar()" [color]="buttonColor">
                <p>Buscar</p>
            </ion-button>
        
            <div style="height: 30px;"></div>
            <h3>O recetas...</h3>
            <section (click)="filtrarTag('Vegetariano')" class="vegetarianas">
                <h2>VEGETARIANAS</h2>
            </section>
        
            <section (click)="filtrarTag('Vegano')" class="veganas">
                <h2>VEGANAS</h2>
            </section>
        
            <section (click)="filtrarTag('Celiaco')" class="celiacos">
                <h2>APTAS PARA CELÍACOS</h2>
            </section>
        
            <section (click)="filtrarTag('Sin lactosa')" class="sinLactosa">
                <h2>SIN LACTOSA</h2>
            </section>
                    
        </ion-slide>
    </ion-slides>
    


    

</ion-content>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  </style>
  
  