ion-icon {
    font-size: 30px;
    color: black;
}

.rojo {
    color: red;
}
.medio {
    margin-left:auto;
    margin-right:auto;
    display: block;
}

img {
    width: 100%;
}

h1 {
    margin-left: 15px;
    margin-bottom: 17px;
}
h2 {
    margin-left: 5px;
    font-size: 1.85em;
    margin-top: 5px;
    margin-bottom: 3px;
}

h1,h2 {
    font-family: 'Lobster', cursive;
    color: black;
}

h3,h4 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

ion-card{
    display: flex;
    flex-direction: column;
    margin: 15px 5px 0px 5px;
}

.titulo {
    background-color: aquamarine
}
