ion-content {
  background-color: #fafafa;
}

ion-icon {
  font-size: 25px;
  color: black;
}

img {
  width: 100%;
}

.opciones {
  font-size: 25px !important;
  position: absolute;
  text-align: left;
  margin-left: -15px;
}

.opciones_icon {
  font-size: 40px;
}

.tiempo {
  position: absolute;
  bottom: 0px;
  right: 7px;
  padding: 5px 0px 10px 5px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  margin-left: 5px;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  color: black;
}

h3, h4 {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

ion-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5px 15px 5px;
}
/*# sourceMappingURL=tab1.page.css.map */