<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h1>PUEDE QUE TE INTERESE...</h1>
    </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor = "let receta of recetas">

    <ion-row>
      <!-- "{{receta.url_foto}}" -->
      <img (click)="detalle(receta.id_receta,receta._id)"
      src= "http://enrique-moran-7e3.alwaysdata.net/api/{{receta.url_foto}}">
    </ion-row>

    <ion-row class="titulo">
      <ion-col size="12">
        <h2>{{receta.titulo}}</h2>
      </ion-col>
    </ion-row>

    <!-- BOTONES LIKE / PLAN / FAVORITOS -->
    <ion-row class="botones">

      <ion-col size="2" *ngIf="isLiked(receta.id_receta)">
        <ion-button (click)="unlike(receta)" fill="clear">
          <ion-icon class="rojo" name="heart"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2" *ngIf="!isLiked(receta.id_receta)">
        <ion-button (click)="like(receta)" fill="clear">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2.5">
        <h4 style="text-align: start;">{{receta.likes}}</h4>
      </ion-col>

      <ion-col size="3" *ngIf="dataLocalService.isOnPlan(receta.titulo)">
        <ion-button class="medio" (click)="dataLocalService.unplanReceta(receta)" fill="clear">
          <ion-icon name="calendar-number-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" *ngIf="!dataLocalService.isOnPlan(receta.titulo)">
        <ion-button class="medio" (click)="dataLocalService.planReceta(receta)" fill="clear">
          <ion-icon name="calendar-clear-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4.5" *ngIf="dataLocalService.isFavorito(receta.titulo)">
        <ion-button style="float: right;" (click)="dataLocalService.unfavReceta(receta)" fill="clear">
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4.5" *ngIf="!dataLocalService.isFavorito(receta.titulo)">
        <ion-button style="float: right;" (click)="dataLocalService.favReceta(receta)" fill="clear">
          <ion-icon name="star-outline"></ion-icon>
        </ion-button>
      </ion-col>

    
    </ion-row>
  </ion-card> 


  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content *ngIf="moreData == true" loadingSpinner="bubbles" loadingText="Cargando más recetas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <br><br>

</ion-content>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
</style>
